<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:include="fragments/components::header"></div>
</head>

<body>
<div class="container mt-5">
    <div class="shadow p-3 mb-5 bg-body rounded" >
        <form method="POST" class="form-create-product" th:object="${productForm}" th:action="@{/product}">

            <h2 class="form-heading text-center">Create a product</h2>
            <div class="form-group">

                <!--             ProductName -->
                <div class="form-floating mb-3">
                    <input id="productNameInput"
                           name="productName"
                           type="text"
                           class="form-control"
                           placeholder="Name"
                           th:field="*{productName}"
                           autofocus="true">
                    <label for="productNameInput">Product Name</label>
                    <span class="has-error" th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}"></span>
                </div>

                <!--             ProductWeight -->
                <div class="form-floating mb-3">
                    <input id="productWeightInput"
                           name="productWeight"
                           type="text"
                           class="form-control"
                           placeholder="Weight"
                           th:field="*{productWeight}"
                           autofocus="true">
                    <label for="productWeightInput">Product Weight</label>
                    <span class="has-error" th:if="${#fields.hasErrors('productWeight')}" th:errors="*{productWeight}"></span>
                </div>

                <!--           ProductQuantity -->
                <div class="form-floating mb-3">
                    <input id="productQuantityBBInput"
                           name="productQuantityBB"
                           type="number"
                           class="form-control"
                           placeholder="Quantity"
                           th:field="*{productQuantityBB}"
                           autofocus="true">
                    <label for="productQuantityBBInput">Product Quantity</label>
                    <span class="has-error" th:if="${#fields.hasErrors('productQuantityBB')}" th:errors="*{productQuantityBB}"></span>
                </div>



                <!-- ProductColor -->
                <div class="form-floating mb-3">
                    <input id="productColorInput"
                           name="productColor"
                           type="text"
                           class="form-control"
                           placeholder="Color"
                           th:field="*{productColor}"
                           autofocus="true">
                    <label for="productColorInput">Product Color</label>
                    <span class="has-error" th:if="${#fields.hasErrors('productColor')}" th:errors="*{productColor}"></span>
                </div>


            <!-- addProduct -->
            <div class="text-center text-lg-start mt-4 pt-2">
                <button class="btn btn-primary btn-lg"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;"
                        type="submit">
                    Add Product
                </button>
            </div>
            </div>
        </form>
    </div>
</div>

<div th:include="fragments/components::bootstrap_script"/>

</body>
</html>