<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:include="fragments/components::header"></div>
</head>

<body>
    <h1>Business to business HOME</h1>

    <a href="/product" class="link-danger">Create a product</a>
    <br>
    <a href="/warehouse" class="link-danger">Warehouse</a>
    <br>
    <a href="/requests" class="link-danger">Requests from BC</a>
    <br>
    <a class="btn-style" th:href= "@{/logout}">Logout</a>

    <div th:include="fragments/components::bootstrap_script"/>
</body>
</html>